<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
 .table_a{ border-collapse:collapse;border: 1px solid #E3E6EB }
.table_a td{ line-height: 25px; padding-left: 8px;text-align: left; }
.div_head{
    font-size: 13px;
    margin: 10px 5px;
    padding-left: 10px;
    line-height: 25px;
    height:25px;
    background-color: #E8F2FC;
    border-bottom: solid #1c94c4 1px
}
</style>
</head>
<body>
<font size="4" color="black">
<div class="div_head">
            <span>
                <span style="float: left;">当前位置是：参考序列-》参考序列查询</span>
            </span>
        </div>
</font>
<hr/>
<table border="0px" cellpadding="0" cellspacing="0" bgcolor="" align="left">
<font size="3" color="black">
<form name="myform" method="post" action="{$smarty.const.__SELF__}">
	<tr>
		<td align="right">Accession</td><td><input type="text" name="accession" id="accession" size="25"></td>
		<td align="right">Sequence</td><td><input type="text" name="sequence" id="sequence" size="25"></td>
	</tr>
	<tr><td colspan="4">&nbsp;</td></tr>
	<tr>
		<td align="right">CDS Start</td><td><input type="text" name="cdsstart" id="cdsstart" size="25"></td>
		<td align="right">CDS End</td><td><input type="text" name="cdsend" id="cdsend" size="25"></td>
	</tr>
	<tr><td colspan="4">&nbsp;</td></tr>
	<tr>
		<td colspan="2" align="center">
		<input type=submit name="Submit" value="Search" onclick="">
		</td>
		
	</tr>
</form>
<table border="1px" class="table_a" id="result">
                    <tr style="font-weight: bold;">
                        <td>序号</td>
                        <td>Gene</td>
                        <td>Accession</td>
                        <td>AccessionVersion</td>
                        <td>Exons Start</td>
                        <td>Exons End</td>
                        <td>Exons Star</td>
                        <td>CDS Start</td>
                        <td>CDS End</td>
                        <td>Sequence</td>
                        <td align="center">操作</td>
                    </tr>
                    {foreach $info as $k=>$v}
                    <tr id="product1">
<!--                        <td><font color="green">{$v@iteration}</font></td>-->
                        <td><font color="green">{$v.ID}</font></td>
                        <td>{$v.Gene}</td>
                        <td>{$v.Accession}</a></td>
                        <td>{$v.AccessionVersion}</td>
                        <td>{$v.ExonsStart}</td>
                        <td>{$v.ExonsEnd}</td>
                        <td>{$v.ExonsStar}</td>
                        <td>{$v.CDSstart}</td>
                        <td>{$v.CDSend}</td>
                        <td>{$v.Sequence}</td>
                        <td><a href="{$smarty.const.__CONTROLLER__}/xiugai/id/{$v.ID}">修改</a></td>
                          <td><a href="{$smarty.const.__CONTROLLER__}/delete/newIdDelet/{$v.ID}" onclick="if (confirm('确定要删除吗？')) return true; else return false;">删除</a></td>
                    </tr>
                    {/foreach}
                    
</table>
</table>
</font>
</body>
</html>