@charset "utf-8";
*{
	margin:0;
	padding:0;
	list-style-type:none;
	}
a,img{
	border:0;
	}
body{
	font-size:12px;
/*	background:url(../img/pattern.png) #fff repeat;*/
	color:#333;
	height:auto;
	font-family:arial, helvetica, sans-serif
	}
a{
	text-decoration:none;
	}
#box{
	width:1001px;
	height:auto;
	border:1px solid gray;
	margin:0px auto 0px auto;

}
.top{
	
	width:1000px;
	margin:0px auto 0px auto;
	height:47px;
	border-bottom:1px solid gray;
	background:#E2EBF0;
}

.top_1{
	font-size:18px;
	font-weight:bold;
	line-height:47px;
	float:left;
	background:url(../img/top_1.png) no-repeat 0px;
	padding-left:10px;
}

.top_2{
	font-size:14px;
	line-height:47px;
	float:right;
	background:url(../img/top_2.png) no-repeat 0px;
	padding-left:25px;
}
.top2{
	float:right;
	margin-top:13px;;
}
/* feature_tour */
.feature_tour{
	width:921px;
        height:auto;
	margin:10px auto 0px auto;
	}

.feature_tour .tab{
	background:url(../img/featurestabbg.png) no-repeat;
	width:921px;
	height:47px;
	overflow:hidden;
	}
.feature_tour .tab a{
	display:block;
	font-size:14px;
	float:left;
	width:20%;
	color:#999;
	text-indent:6px;
	line-height:47px;
	height:47px;
	text-shadow:0px 1px 0px #fff
	}
.feature_tour .tab a.current{
	color:#fff;
	text-shadow:0px 1px 0px #788e21
	}

.feature_tour .mask{
	/*overflow:scroll;*/
	margin:2px 0px 0px 0px;
	width:100%;
	position:relative;
	height:auto;
	overflow:hidden;
	background:url(../img/pattern.png) #fff repeat;
	}
.feature_tour .mask .maskcon{
	width:4700px;
        height:auto;
}
.feature_tour .mask .maskcon .innercon{
      
	float:left;
	width:921px;
        height:auto;
	}

.feature_tour .nav{
	margin:0 atuo;}
.feature_tour .nav p{
	margin:0 auto;
	width:90px;
	height:36px;
	overflow:hidden;
	}
.feature_tour .nav p a{
	display:block;
	float:left;
	width:45px;
	height:36px;
	overflow:hidden;
	}
.feature_tour .nav p a.prev{
	background:url(../img/feature_tours_navigation.png) no-repeat left 0px;
	}
.feature_tour .nav p a.prev:hover{
	background-position:0px -36px;
	}
.feature_tour .nav p a.next{
	background:url(../img/feature_tours_navigation.png) no-repeat right 0px;
	}
.feature_tour .nav p a.next:hover{
	background-position:right -72px;
	}