<html>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<body>
<font size="4" color="black">
	<p><b>添加疾病信息</b></p>
</font>
<hr/>
<font size="3" color="black">
<form name="form1" method="post" action="{$smarty.const.__SELF__}">
	<table border="0px" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
	<tr><td align="right">MeSH ID:</td><td><input type="text" name="meshid"></td><td align="right">Type:</td><td><input type="text" name="type"></td></tr>
	<tr><td align="right">Sub Type:</td><td><input type="text" name="subtype"></td><td align="right">Disease Name:</td><td><input type="text" name="diseasename"></td></tr>
	<tr><td align="right">Alias:</td><td><input type="text" name="alias"></td><td align="right">Chinese Name:</td><td><input type="text" name="chinesename"></td></tr>
	<tr><td align="right">Description:</td>
		<td><textarea name="description" cols="70" rows="3"></textarea></td>
		<td>&nbsp;</td><td>&nbsp;</td>
	</tr>
	
</table>
</form>
<hr/>
<tr>
	<td align="center">
	<input type="submit"  name="Submit" class="btn_grey" value="Save" onClick="return check(form1)">
	
	</td>
</tr>
</font>
</body>
</html>