<html>
<body>
<font size="4" color="black">
	<p><b>添加疾病突变关联分析信息</b></p>
</font>
<hr/>
<font size="3" color="black">
<form name="form1" method="post" action="{$smarty.const.__CONTROLLER__}/diseasemutationassociation_update">
	<table border="0px" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
	<input type="hidden" name="id" value="{$info.ID}"/>
	<tr><td align="right">Disease Name:</td>
		<td><select name="diseasename" value="{$info.DiseaseName}">
			<option>Esophsgeal and Esophagogastic Junction cancer</option>
			<option></option>
			</select>
		</td>
	</tr>
	<tr><td align="right">Mutation:</td>
		<td><textarea name="mutation" cols="60" rows="3">{$info.MutationCategory}
		</textarea>
		</td>
	</tr>
	<tr><td align="right">Biomarker Type:</td>
		<td><select name="biomarkertype" value="{$info.BiomarkerType}">
			<option>Drug Predictive Biomarker</option>
			<option></option>
			</select></td>
	</tr>
	<tr><td align="right">Reference:</td><td><input type="text" name="reference" id="reference" value="{$info.Reference}">Reference id is separated by "."</td></tr>
	<tr><td align="right">Medication Guide:</td><td><textarea name="medicationguide" cols="60" rows="3">{$info.MedicationGuide_CN}</textarea></td></tr>
	<tr><td align="right">Medication Guide(English):</td><td><textarea name="medicationguideenglish" cols="60" rows="3">{$info.MedicationGuide}</textarea></td></tr>
	<tr><td align="right">Significance of Gene Testing(Chinese):</td><td><textarea name="sogtchinese" cols="80" rows="10">{$info.SignificanceOfGeneTesting}</textarea></td></tr>
	<tr><td align="right">Description:</td><td><textarea name="description" cols="80" rows="10">{$info.Description}</textarea></td></tr>
	<tr>
	<td colspan="2">Last updated:<input type="text" name="lastupdated" value="{$info.LastUpdated}">&nbsp;&nbsp;Operator:<input type="text" name="operator" value="{$info.Operator}"></td>
	</tr>
        <tr>
	<td align="center">
	<input type="submit"  name="Submit" class="btn_grey" value="Save" onClick="return check(form1)">
	
	</td>
</tr>
</table>
</form>
<hr/>


<script language="javascript">
	function check(form){				//验证表单是否为空
		if(form.diseasename.value==""){
			alert("请输入diseasename！");form.diseasename.focus();return false;
		}
		if(form.mutation.value==""){
			alert("请输入mutation！");form.mutation.focus();return false;
		}
		if(form.biomarkertype.value==""){
			alert("请输入biomarkertype！");form.biomarkertype.focus();return false;
		}
		if(form.reference.value==""){
			alert("请输入reference！");form.reference.focus();return false;
		}
		if(form.medicationguide.value==""){
			alert("请输入medicationguide！");form.medicationguide.focus();return false;
		}
		if(form.medicationguideenglish.value==""){
			alert("请输入medicationguideenglish！");form.medicationguideenglish.focus();return false;
		}
		if(form.sogtchinese.value==""){
			alert("请输入sogtchinese！");form.sogtchinese.focus();return false;
		}
		if(form.description.value==""){
			alert("请输入description！");form.description.focus();return false;
		}
form.submit();
}
</script>
</font>
</body>
</html>