<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta http-equiv=content-type content="text/html; charset=utf-8" />
        <link href="{$smarty.const.ADMIN_CSS_URL}/admin.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <font color="green">
         <table>
        <tr><td hegith="20px"><a href="{$smarty.const.__MODULE__}/Binli/chakanbinli_search" target=right>查看病历</a></td></tr>
        <tr><td hegith="20px"><a href="{$smarty.const.__MODULE__}/Binli/suizhenjilu_search" target=right>随诊记录</a></td></tr>
     
        </table>
        </font>
    </body>
</html>