<html>
<head>
<style type="text/css">
.table_a{ border-collapse:collapse;border: 1px solid #E3E6EB }
.table_a td{ line-height: 25px; padding-left: 8px;text-align: left; }
</style>
</head>  
<body>
<form name="form2" method="post" action="{$smarty.const.__SELF__}">
<table border="0px">
<tr><td>
       <a href="{$smarty.const.__CONTROLLER__}/chakanbinli_tianjia">创建病历</a>
</td></tr>
<tr><td><span class="left" >病历号:<input type="text" name="medicalid" id="medicalid"></span>&nbsp;&nbsp;
        <span class="left">姓名:<input type="text" name="name1" id="name"></span>&nbsp;&nbsp;&nbsp;
        <input type="submit"  name="Submit" class="btn_grey" value="查询"  size="50" onClick="return check2(form2)">
</td></tr>
</table>
</form>
    
<br>
<br>
<table border="1px" class="table_a" id="result">
                    <tr style="font-weight: bold;">
                        <td>序号</td>
                        <td>病历号</td>
                        <td>姓名</td>
                        <td>性别</td>
                        <td>年龄</td>
                        <td>疾病名称</td>
                        <td>状态</td>
                        <td align="center">操作</td>
                    </tr>
                    {foreach $info as $k=>$v}
                    <tr id="product1">
<!--                        <td><font color="green">{$v@iteration}</font></td>-->
                        <td><font color="green">{$v.ID}</font></td>
                        <td>{$v.MedicalID}</td>
                        <td>{$v.Name}</a></td>
                        <td>{$v.Sex}</td>
                        <td>{$v.Old}</td>
                        <td>{$v.MedicalName}</td>
                        <td>{$v.State}</td>
                        <td><a href="{$smarty.const.__CONTROLLER__}/suizhenjilu_xiugai/id/{$v.ID}">随诊</a></td>
                    </tr>
                    {/foreach}
                
</table>
<body>
</html>
