<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "
http://www.w3.org/TR/html4/loose.dtd">
<html>
<head><title></title>
<link type="text/css" rel="stylesheet" href="{$smarty.const.Home_CSS_URL}/chosegeneaccordingtomedical.css" />
</head>
<body>
<div class="box">
<div>疾病相关药物<img src="./images/sanjiao.png"/></div>
<div>
<table>
	<tr class="list"><td class="gene1"><input type="checkbox"></td><td class="gene2">药物名称</td><td class="gene3">中文名</td><td class="gene4">药物阶段</td><td class="gene5">审批年份</td><td class="gene6">药物临床描述</td></tr>
	<tr class="ji"><td class="gene1"><input type="checkbox"></td><td class="gene2"><a href="#">Palbociclib</a></td><td class="gene3"></td><td class="gene4">Clinical Trial Phase III</td><td class="gene5"></td><td class="gene6">ER-positive/HER2-neg...</td></tr>
	<tr class="ou"><td class="gene1"><input type="checkbox"></td><td class="gene2"><a href="#">Everolimus</a></td><td class="gene3">依维莫司</td><td class="gene4">Approved</td><td class="gene5">2012</td><td class="gene6">Advanced hormone rec...</td></tr>
	<tr class="ji"><td class="gene1"><input type="checkbox"></td><td class="gene2"><a href="#">Trastuzumab emtansine</a></td><td class="gene3">曲妥珠单抗emtansine</td><td class="gene4">Approved</td><td class="gene5">2013</td><td class="gene6"></td></tr>
	<tr class="ou"><td class="gene1"><input type="checkbox"></td><td class="gene2"><a href="#">Tamoxifen</a></td><td class="gene3">他莫晋芬</td><td class="gene4">Approved</td><td class="gene5">2000</td><td class="gene6"></td></tr>
	<tr class="ji"><td class="gene1"><input type="checkbox"></td><td class="gene2"><a href="#">Letrozole</a></td><td class="gene3">来曲隆</td><td class="gene4">Approved</td><td class="gene5">2001</td><td class="gene6">ER-positive/HER2-neg...</td></tr>
	<tr class="ou"><td class="gene1"><input type="checkbox"></td><td class="gene2"><a href="#">Abraxane</a></td><td class="gene3"></td><td class="gene4">Approved</td><td class="gene5">2005</td><td class="gene6"></td></tr>
	<tr class="ji"><td class="gene1"><input type="checkbox"></td><td class="gene2"><a href="#">Halaven</a></td><td class="gene3"></td><td class="gene4">Approved</td><td class="gene5">2010</td><td class="gene6"></td></tr>
	<tr class="ou"><td class="gene1"><input type="checkbox"></td><td class="gene2"><a href="#">Denosumab</a></td><td class="gene3">狄诺塞麦</td><td class="gene4">Approved</td><td class="gene5">2011</td><td class="gene6"></td></tr>
	<tr class="ji"><td class="gene1"><input type="checkbox"></td><td class="gene2"><a href="#">pertuzumab</a></td><td class="gene3">帕妥珠单抗</td><td class="gene4">Approved</td><td class="gene5">2012</td><td class="gene6">HER-2 positive metast...</td></tr>
	<tr class="ou"><td class="gene1"><input type="checkbox"></td><td class="gene2"><a href="#">Bevacizumab</a></td><td class="gene3">贝伐单抗</td><td class="gene4">Approved</td><td class="gene5">2008</td><td class="gene6">people with metastat...</td></tr>
	<tr class="ji"><td class="gene1"><input type="checkbox"></td><td class="gene2"><a href="#">Dacarbazine</a></td><td class="gene3">达卡巴隆</td><td class="gene4">Approved</td><td class="gene5">2007</td><td class="gene6"></td></tr>
	<tr class="ou"><td class="gene1"><input type="checkbox"></td><td class="gene2"><a href="#">traztubumab</a></td><td class="gene3"></td><td class="gene4">Approved</td><td class="gene5">2006</td><td class="gene6">HER2-positive advan...</td></tr>
</table>
</div>

</div>
</body>
</html>