<html>
<head><title></title>
<link href="{$smarty.const.Admin_CSS_URL}mine.css" type="text/css" rel="stylesheet">
<style type="text/css">
    body{
	border:1px solid silver;
	width:800px;
	height:auto;
	margin:0 auto;
	/* background-color:blue; */
	}
	.next{ float: right; }
</style>
 <script language="javascript">
	function check(form){				//验证表单是否为空
		if(form.diseasename.value==""){
			alert("请输入疾病名称！");form.diseasename.focus();return false;
		}
		if(form.diseasestage1.value==""){
			alert("请选择疾病阶段！");form.diseasestage1.focus();return false;
		}
		if(form.diseasestage2.value==""){
			alert("请输入疾病阶段！");form.diseasestage2.focus();return false;
		}		
                form.submit();
                
}
</script>
</head>
<body>
    <h1>Step2：疾病选择&nbsp;&nbsp;&nbsp;2/4</h1>
<form name="form1" action="{$smarty.const.__CONTROLLER__}/handle_step2" method="post">
	<table class="table_a" border="1" width="100%">
	<tr><td align="right"><font color="red">*</font>疾病名称：</td><td><input type="text" name="diseasename" id="diseasename"></td></tr>
	<tr><td align="right">疾病阶段：</td><td><select name="diseasestage1" id="diseasestage1">
		<option>custom</option>
		</select>
		<input type="text" name="diseasestage2" id="diseasestage2">
		</td></tr>
	</table>
	<input class="next" type="submit" value="下一步" onClick="return check(form1)"/>
</form>
</body>
</html>