<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "
http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<link rel="stylesheet" type="text/css" href="{$smarty.const.Home_CSS_URL}/bigmed_head.css"/>
</head>
<body align="center">
<div id="container">
<div class="top">
<span class="top1">
欢迎<b>{$smarty.session.user_name}</b><a href="#">修改密码</a>
<a style="color: #fff"  onclick="if (confirm('确定要退出吗？')) return true; else return false;" href="{$smarty.const.__MODULE__}/User/logout" target="_top">注销</a> 
</span>
<span class="top2"><a href="#">帮助</a>&nbsp;|&nbsp;<a href="#">意见反馈</a><select id="lan" name="lan"><option>中文</option><option>English</option></select></span>
</div>
<div class="img1"><img src="{$smarty.const.Home_IMG_URL}/cancer_head.png"></div>
<div class="box" width=100%>
<ul id="nav" width=100%>
	<li><a href="{$smarty.const.__MODULE__}/Binli/medicalrecordmanagement.html" target="showcontent">病历管理</a></li>
	<li><a href="{$smarty.const.__MODULE__}/Workflow/step1.html" target="showcontent">工作流</a></li>
	<li><a href="{$smarty.const.__MODULE__}/Treatment/search.html" target="showcontent">治疗方案建议</a></li>
	<li><a href="{$smarty.const.__MODULE__}/Report/search.html" target="showcontent">查看报告</a></li>
	<li><a href="{$smarty.const.__MODULE__}/Queryinformation/queryinformation.html" target="showcontent">查询信息</a></li>
	<li><a href="{$smarty.const.__MODULE__}/Reference/search.html" target="showcontent">查询参考文献</a></li>
	<li><a href="{$smarty.const.__MODULE__}/Consulation/patientconsultation.html" target="showcontent">病人会诊</a></li>
</ul>
</div>
</div>
</body>
</html>
