<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>滑动菜单五步走</title>
<script type="text/javascript" src="{$smarty.const.Home_JS_URL}/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{$smarty.const.Home_JS_URL}/custom.js"></script>
<link type="text/css" rel="stylesheet" href="{$smarty.const.Home_CSS_URL}/custom.css" />
</head>
<body>
<div id="box">
<div class="top">
<span class="top_1">创建病历</span><span class="top_2"><a href="#">返回</a></span>
</div>
<div class="feature_tour">
	<div class="tab">
		<a href="step1.php" class="current">病人信息录入</a>
		<a href="step2.php" >疾病选择</a>
		<a href="step3.php" >基因及检测方案选择</a>
		<a href="step4.php" >基因及检测方案确认</a>
		<a href="step5.php" >提交实验室</a>
	</div>
	<div class="mask" >
		<div class="maskcon">
			<div id="con1" class="innercon">{include file="./step1.html"}</div>
			<div id="con2" class="innercon">{include file="./step2.html"}</div>
			<div id="con3" class="innercon">{include file="./step3.html"}</div>
			<div id="con4" class="innercon">{include file="./step4.html"}</div>
			<div id="con5" class="innercon">{include file="./step5.html"}</div>
		</div>
	</div>
	<div class="nav">
		<p><a href="#" class="prev">&nbsp;&nbsp;</a><a href="#" class="next">&nbsp;&nbsp;</a></p>
	</div>
</div>
</div>
</div>
</body>
</html>
